scapy
dpkt
pyshark
numpy
pandas
matplotlib
plotly
dash
folium
geopandas
geopy
requests
psutil
netifaces
pyroute2
pytest
pytest-cov
black
flake8
pyyaml
configparser
asyncio-dgram
aiofiles
sqlalchemy
docker
sphinx
sphinx-rtd-theme